body {
    height: 100vh;
  
}

.titleSection {
    background-color: #1f2937;
    padding: 0 120px 120px 120px;
    color: white;
}

.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listLinks {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.titleBarLogo {
    font-size: 24px;
    columns: #f9faf8;
}

.secondaryText {
    font-size: 18px;
    color: #e5e7eb;
}

.heroMain {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.heroSection {
    display: flex;
    margin-top: 80px;
    
    justify-content: space-between;
}

.heroText {
    display: flex;
}

.thumbnailSection {
    display: flex;    
    flex-direction: column;
}

.thumbnailTitle {
    display: flex;
    justify-content: center;
}

.thumbnailImages {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

}

.thumbnailBox { 
    display: flex;
    justify-content: center;
    flex-direction: column; 
    border-style: solid;
    border-width: 3px;
    border-color: #3882f6;
    border-radius: 5px;
    padding: 10px;
    max-width: 110px;
}
